<div class=" container-fluid main  ">
  <div class="bgimg  min-vh-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="display-2 z1">Yahya Shqair</h1>
  <h6 class="text-light z1">Full Stack Developer</h6>
  <ul class="  m-2 p-5 z1 bgred rounded-top border-bottom border-right border-left border-secondary " >
    <li>Born : 26 Nov 1998</li>
    <li>Nationality : Palestinian</li>
    <li>Address : Alzawya Salfit</li>
  </ul>
  </div>
</div>

<div class=" container-fluid project  ">
  <div class="bgimg min-vw-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-2 z1">Yahya Shqair</h1>
    <h6 class="text-light z1">Full Stack Developer</h6>
    <ul class="  m-2 p-5 z1 bgred rounded-top border-bottom border-right border-left border-secondary " >
      <li>Born : 26 Nov 1998</li>
      <li>Nationality : Palestinian</li>
      <li>Address : Alzawya Salfit</li>
    </ul>
  </div>
</div>
