    <div class="card m-2 p-5 z1 bgred rounded-top border-bottom border-right border-left border-secondary  d-flex flex-column align-items-center justify-content-center " >
      <div>
        <h2>Yahya Shqair</h2>
      </div>
      <div> <h4>FullStack Developer</h4></div>
      <div class="d-flex justify-content-between m-2">
         <a href="https://www.linkedin.com/in/yahyashqair/"> <i class="fab fa-linkedin fa-2x m-2" ></i> </a>
        <a href="https://www.fb.com/yahya.shqair"> <i class="fab fa-facebook fa-2x m-2"></i></a>
      </div>
    </div>
